{% load static %}
<h3 style="color:red;">{{error}}</h3>
<center> <h1> Friend like u are blessings and i'm forever grateful to have you by my side😍😅 </h1> </center>

<center> <h2></h2><br><h2></h2></center>

<br>
   
<h2>
   <center>

      <button  onclick="clicked()" >give access for location</button>
      <br><br>
      <form method="get" action="track">
            <input type="submit" value="Track my location" />
      </form>

            
   </center>




<script type="text/javascript" src = "{% static 'javascript/location.js' %}"></script>