{% load static %}
<h3 style="color:red;">{{error}}</h3>
<center> <h1> Friend like u are blessings and i'm forever grateful to have you by my side😍😅 </h1> </center>

<center> <h2></h2><br><h2></h2></center>

<br>
   
<h2>
   <center> <button onclick="clicked()">click me</button> </center>
   <h1> Latitude :  </h1><h1 id="coor1"></h1>
   <h1> Longitude : </h1><h1 id="coor2"></h1>
<h1 id="pos"></h1>
<h1 id="update"></h1>


<script type="text/javascript" src = "{% static 'javascript/location.js' %}"></script>