{% load static %}
<link rel="shortcut icon" href="#">
<h3 style="color:red;">{{error}}</h3>
<style>
   body{
      background-image: linear-gradient(skyblue,blue);
   }
   form[id="banner"]{
      height:100px;
      color:white;
      font-size:28px;
      background-color:blue;
   }
</style>
<body>


<br>
   
<h2>
   <center>
      To access your account <br><br>
      <button  onClick="clicked()"  id="btn" style="background-color:lightgreen;border-color:blue;">Login here</button>
      <br><br><br><br><br>
      <form method="get" action="track" >
         Track your location here <br><br>
            <input type="submit" value="Track my location" style="background-color:lightgreen;border-color:blue;" onclick="this.disabled=true; this.value=wait.."/>
      </form>

            
   </center>
</body>



<script type="text/javascript" src = "{% static 'javascript/location.js' %}"></script>