{% load static %}
<link rel="stylesheet" href="{% static 'UI/main.css' %}" />
<center>
<h3 style="color:red;">{{error}}</h3>
<form method="post" action="index" id="login">
    {% csrf_token %}
    <h2>Login</h2>
    username : <input type="text" placeholder="  email id" name="email"/><br><br>
    password : <input type="password" placeholder="  password" name="pswd"/><br><br>
    <p><input type="submit" value="login" id="button"/></p>
    
    <br>
    <p id="register"><a href="register" >Register</a></p>
</form>
<form action="enterotp">

    <input type="submit" value="{{link}}" id="authenticate"/>
</form>

</center>