<center>
<form method=post action=register>
    {% csrf_token %}
    <input type="text" name="uname" placeholder="enter username" length="50" required/><br><br><br>
    <input type="text" name="pswd" placeholder="set password" length="50" required/><br><br><br>
    <input type="phone" name="phn" placeholder="mobile number" length="50" required/><br><br><br>
    <input type="email" name="email" placeholder="enter email id" length="50" required/><br><br>
    <input type="submit" name="Register"/>
</form>
</center>