<link rel="shortcut icon" href="#">
{%load static%}
<br><br><br>
<style>
    h1[name="lat"]{
        color: blue;
    }
    h1[name="lon"]{
        color: skyblue;
    }
    body{
        background-image:linear-gradient(skyblue,blue);
    }
</style>
<body>
    <center>
    <h1 style="margin-top:30px;">Location</h1><br>
   
    <h1 name="lat">Latitude  : </h1><h1 name="lat" id="latitude"></h1><br><br><br>
    <h1 name="lon">Longitude : </h1><h1 name="lon" id="longitude"></h1>
    <input type="submit" value="start tracking" onclick="trackme()" id="btn"/>
</center>
</body>
<script type="text/javascript" src = "{% static 'javascript/location.js' %}"></script>
