<html>
<head>
    <style>
        form{
            margin-left : 250px;
            margin-top : 100px;
        }
        p{
            text-indent : 150px;
        }
        input{
            color : white;
            background-color: blue;
            border : 1px solid;
            border-radius : 20px;
            border-color : blue;

        }
    </style>
</head>
<body bgcolor = "pink">
    
        
        <form method = "get" action="wheather">
        <h1 >find wheather</h1>
        <p><input type="submit" value="click here" /></p>
        </form>
</body>

</html>