<html>
<head>
    <style>
    h2{
        color : red;
    }
    form{
        margin-left :25px;
        margin-top : 25px;
        border : 1px solid;
        text-align : center;
        
    }
</style>

</head>
<body bgcolor="lightblue">
    {% for msg in messages %}
        <h2>{{msg}}</h2>
    {% endfor %}
    <form action="wheather" method="post">
        {% csrf_token %}
        <h3>wheather Report</h3>
        <label>city name : </label><input type="text" name="cityname" required/><input type="submit" name="submit" value="get data" />
        <br><h3>{{country}}</h3>
        <label>temparature : </label><h3>{{temp}}</h3>
        <label>humidity : </label><h3>{{humidity}}</h3>
        <label>preasure : </label><h3>{{preasure}}</h3>
    </form>


</body>

<html>